@model IEnumerable<SportPal.Models.Standings>

@{
    ViewData["Title"] = "Standings";
}

<h1>Standings</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Team)
            </th>
            <th>
                Points
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wins)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Losses)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ties)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var team in Model) 
{
    if (team.LeagueId == (int)@ViewData["LeagueId"])
    {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => team.Team)
                    </td>
                    <td>
                        @{
                            var points = (team.Wins * 2) + (team.Ties);
                        }
                        @points
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => team.Wins)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => team.Losses)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => team.Ties)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@team.StandingsId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@team.StandingsId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@team.StandingsId">Delete</a>
                    </td>
                </tr>
    }
}
    </tbody>
</table>
