@model IEnumerable<SportPal.Models.Standing>

@{
    ViewData["Title"] = "Standings";
}

<h1>Standings</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Team)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Coach)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Points)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wins)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Losses)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ties)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.League)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Team)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Coach)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Points)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wins)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Losses)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ties)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.League.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StandingId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StandingId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StandingId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
